// @import url(https:;//fonts.googleapis.com/css?family=Dosis&display=swap);
@import url(https://fonts.googleapis.com/css?family=Nunito:400|Raleway:300&display=swap);

$titleFont: "Raleway";

.title {
  font-size: 28px;
  font-family: $titleFont;
}
