.main {
  display: flex;

  .navbar {
    width: 100%;
    position: fixed;
    z-index: 3;
    opacity: 0.92;
  }

  .sidebar {
    background: whitesmoke;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 2;
  }

  .dashboard {
    margin-left: 320px;
    z-index: 1;
  }
}

@media screen and (max-width: 500px) {
  .main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .sidebar {
      margin: 0 auto;
      height: 500px;
      position: static;
    }

    .dashboard {
      margin: 0 auto;
    }
  }
}
