@import "General.module.scss";

.container {
  flex-direction: column;

  .settings {
    color: black;
    margin-top: 150px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;

    .settings {
      color: black;
      margin-top: 80px;
    }
  }
}
